.StrictMode {
    border: black solid 4px;
  }

  h1, p{text-align: center;}
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .Search {
    display: flex;
    justify-content: center;
  }
  
  .conditions {
    display: flex;
    justify-content: center;
  }
  
  .Loading {
    margin-top: 10px;
    text-align: center;
  }
  